<div class="card">
    <h3>List of Products</h3>
    <!-- <p-toast></p-toast> -->
    <p-table [value]="products" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
          <p-button
          label="Create"
          icon="pi pi-arrow-circle-left"
          styleClass="p-button-secondary"
          class="mr-2"
          routerLink="/products/form"
          ></p-button>
        </div>
        <div class="flex table-header">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th>Image</th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
          <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
          <th> </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td style="min-width: 12rem;">{{product.name}}</td>
          <td><img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
          <td style="min-width: 8rem;">{{product.price | currency:'USD'}}</td>
          <td style="min-width: 10rem;">{{product.category.name}}</td>
          <td style="min-width: 10rem;"><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
          <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
          <td><i class="pi pi-pencil" style="color: red" (click)="editProduct(product.id)"></i></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-product>
        <tr>
          <td colspan="7">
            <div class="p-3">
              <p-table [value]="product.orders" dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
          <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
          <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
          <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
          <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-orderline>
        <tr>
          <td>{{orderline.orderId}}</td>
          <td>{{orderline.order.customer.firstName}} {{orderline.order.customer.lastName}}</td>
          <td>{{orderline.order.date}}</td>
          <td>{{orderline.quantity}}</td>
          <td>{{orderline.quantity * product.price | currency:'USD'}}</td>
          <td><span [class]="'order-badge order-' + orderline.order.status.toLowerCase()">{{orderline.order.status}}</span></td>
          <td><p-button type="button" icon="pi pi-search"></p-button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">There are no order for this product yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
</div>
