<!-- <ul class="layout-menu"> -->
  <ng-container>
    <label>HOME</label>
    <li>
      <a routerLink="/dashboard"><i class="pi pi-home"></i>Dashboard</a>
    </li>
    <label>PAGES</label>
    <li>
      <a routerLink="/products"><i class="pi pi-truck"></i>Products</a>
    </li>
    <li>
      <a routerLink="/users"><i class="pi pi-user"></i>Users</a>
    </li>
    <li>
      <a routerLink="/category"><i class="pi pi-graduation-cap"></i>Categories</a>
    </li>
  </ng-container>

  <!-- <ng-container *ngFor="let item of model; let i = index;">
      <li app-menuitem *ngIf="!item.separator" item="item"></li>
      <li *ngIf="item.separator" class="menu-separator"></li>
  </ng-container> -->
  <!-- <div class="links">
    <ul>
      <li>
        <a routerLink="/"><i class="pi pi-home"></i>Dashboard</a>
      </li>
      <li>
        <a routerLink="/products"><i class="pi pi-briefcase"></i>Products</a>
      </li>
      <li>
        <a routerLink="/categories"><i class="pi pi-list"></i>Categories</a>
      </li>
      <li>
        <a routerLink="/orders"><i class="pi pi-shopping-bag"></i>Orders</a>
      </li>
      <li>
        <a routerLink="/users" ><i class="pi pi-users"></i>Users</a>
      </li>
      <li >
        <a routerLink="/login" class="logout"><i class="pi pi-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div> -->
<!-- </ul> -->
<!-- <div class="card flex justify-content-center"> -->
  <!-- <p-menu [model]="items" /> -->
<!-- </div> -->


