<header>
  <div class="grid">
    <div class="col-6  search">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconField>
    </div>
    <div class="col-5 col-offset-1 navigation">
      <ul class="nav">
        <li><a href="/products">Products</a></li>
        <li><a href="/">Home</a></li>
        <!-- <li><a>{{username}}</a></li> -->
        <li *ngIf="!username" ><a href="/login">Contact</a></li>
        <li  *ngIf="username" (click)="getEmployee(empId)"> <a>{{username}}</a></li>
        <li *ngIf="username" (click)="logOut()"><a routerLink="">Logout</a></li>
      </ul>
    </div>
  </div>
</header>
