<div class="flex cont">
  <!-- <img
  src="https://st.depositphotos.com/1891797/3517/i/450/depositphotos_35173743-stock-photo-sale-on-wood-background.jpg"
  class="w-full border-round"/> -->
  <img class="w-full border-round"
  src="https://images-aka.hsamuel.co.uk/campaigns/2024/MSS24/Sale/1920x724_HS2404WC01_MSS_LP_00.jpg">
  <!-- <p-carousel
  [numVisible]="3"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
              <div class="mb-3">
                  <div class="relative mx-auto">
                      <img
                          src="https://st.depositphotos.com/1891797/3517/i/450/depositphotos_35173743-stock-photo-sale-on-wood-background.jpg"
                          class="w-full border-round" />
                  </div>
              </div>
          </div>
      </ng-template>
</p-carousel> -->
<!-- <p-galleria
  [value]="images"
  [showIndicators]="true"
  [showThumbnails]="false"
  [changeItemOnIndicatorHover]="true"
  [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '640px' }">
  <ng-template pTemplate="item" let-item>
    <img [src]="item" style="width: 100%; display: block;" />
  </ng-template>
</p-galleria> -->
</div>
<lib-category></lib-category>
<lib-products></lib-products>


